table {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  border-collapse: collapse;
  width: 100%;
}

h2{
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}