/* body{
  background-image: url('/img/KTP2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
} */

body{
  height: 100dvh;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.biodata{
  background: url(../img/biru-tua-hd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}